.banner {
	background-image: url('../../images/jardin2.jpeg');
	color: white;
	padding: 150px 0px;
	background-size: cover;
}

.banner h1 {
	font-size: 70px;
}

.banner h2 {
	font-size: 30px;
	font-weight: 300;
	opacity: 0,8;
	margin-bottom: 40px;
}

